{% extends "base.html" %}
{% block content %}

<div id="beitrag">
<h1><center> Über mich </center></h1>
</div>

<div id="beitrag">
    <h2>Freizeit</h2>
        <p>Tatsächlich stecke ich meine Freizeit gerade zu 100% in meine Aus- und Weiterbildung, Kurse und Projekte. Wenn ich mich doch einmal vom Bildschirm lösen muss lese ich entweder Bücher oder spiele Schach. </p>
        <p>Ansonsten genieße ich die Natur, da mir Wandern dabei hilft den Kopf frei zu bekommen. Ich empfehle das Dahner Felsenland. Von Dahn selbst aus kann ich random in den Wald hüpfen und befinde mich auf einem richtig tollen Premiumwanderweg. Love it!</p>
        <p>Auch das bloße spazieren gehen im Wald gibt mir was, wenn es schnell gehen muss. Zum Glück wohne ich mittlerweile sehr grün.</p>
</div>

{% endblock content %}